# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.cxx/
.gradletasknamecache
.idea
.project
.vscode/
build/
local.properties

# Flutter Generated
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Generated.xcconfig
/ios/Flutter/info.plist
/ios/Flutter/flutter_assets/
/ios/Runner/Assets.xcassets/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/ios/.symlinks/
/ios/build/
/ios/ios.iml
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig

# Android Generated
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/app/app.iml
/android/android.iml
/android/app/build.gradle.kts.old
/android/app/build.gradle.old
/android/local.properties
/android/.idea/